.question-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.question-wrap > div{
  /* margin-top: 20px; */
}
.question-wrap > div > span{
  font-size: 20px;
  font-weight: bold;
  color:rgb(254, 191, 52);
  /* margin-left: 30px; */
  background-color: #fff;
  outline: 2px solid;
  padding: 10px;
  border-radius: 5px;
}
.question-wrap > div > span:hover{
  color:#fff;
  background-color: rgb(254, 191, 52);
}
.question-wrap > div > span:not(.question-wrap > div > span:first-child){
  margin-left: 10px;
}

.name{
  margin-top: 20%;
  font-size: 50px; 
}
.question{
  margin-top: 20%; 
  font-size: 30px; 

}
.img-question{
  margin-top: 3%;
  width: 40%; 
}
.answer{
  margin-top: 3%; 
}